<!DOCTYPE html>
<html>
<head>
    <title>회원가입</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>회원가입</h1>
<form id="signup-form">
    <label for="email">이메일:</label>
    <input type="text" id="email" name="email" required><br>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required><br>
    <label for="nickname">닉네임:</label>
    <input type="text" id="nickname" name="nickname" required><br>
    <button type="signupButton">가입</button>
</form>

<script src="signup.js"></script>
</body>
</html>

