:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* Colors */
  --color-white:#F6F4F1;
  --color-red: #EE7272;
  --color-yellow: #ECE892;
  --color-blue: #7CABF2;
  --color-black: #291E1E;
  --color-back: #101D29;

  /* Size */
  --size-max-width: 120px;
}
html{
  scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
} 
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration-line: none;
  color: var(--color-white);
}
button {
  background-color: transparent;
  outline: 1;
  border: 0;
}

button:focus {
  outline: 1px solid transparent;
}

/*common*/
section{  
  position: relative;
  padding: 4rem;
}

/*home*/
#home{
background-color: var(--color-back);
padding: 5rem 1rem;
width: 100%;
display: flex;
}

.home__logo{
  width: 33%;
  padding: 1rem 4rem;
}
.home__logo__img{
  object-fit: cover;
}
.home__logo__txt{
  padding-top: 15%;
  padding-left: 8%;
  width:max-content;
  line-height: 3rem;
  color: var(--color-white);
}
.home__logo__txt_1{
  font-size: 1.8rem;
  font-weight: 550;
}
.home__logo__txt_2{
  font-size: 1.3rem;
  font-weight: 450;
}
.home__logo__txt_3{
  padding-top: 10%;
  display: inline-block;
  font-weight: bold;
  font-size: 0.8rem;
  color: #F9EAC4;
}
.home__down{
  width: 33%;
  padding-top: 40%;
  text-align: center;
  scroll-behavior: smooth;
  
} 
.home__nav{
  font-size: 1.2rem;
  width: 33%;
  padding: 1rem 4rem;
  text-align: right;
  font-weight: 430;
}
.home__nav_top{
  display: inline-block;
  padding-top: 20%;
  padding-right: 1rem;
  line-height: 50px;
}
.home__nav_top-1:hover {
  color: #868686;
}
.home__nav_top-2:hover {
  color: #868686;
}
.home__nav_bottom{
  padding-top: 40%;
  
}
.home__nav_bottom-1{
  width: 90%;
  padding: 10%;
  text-align:center;
  display: inline-block;
  margin-bottom: 15%;
  border-radius: 5px;
  background-color: var(--color-red);
  font-weight: bold;
  text-shadow:1px 3px 3px rgb(35, 35, 35);
}
.home__nav_bottom-1:hover {
  box-shadow: rgba(254, 252, 252, 0.25) 0px 25px 50px -12px;
}
.home__nav_bottom-2{
  width: 90%;
  padding: 10%;
  text-align:center;
  display: inline-block;
  border-radius: 5px;
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: bold;
  text-shadow:1px 3px 3px rgb(186, 186, 186);
}
.home__nav_bottom-2:hover {
  box-shadow: rgba(232, 229, 229, 0.25) 0px 25px 50px -12px;
}



/*rank*/
#rank{
  text-align: center;
  background-color: var(--color-back);
  padding: 8rem 4rem;
  width: 100%;
  display: flex;
}
.rank{
  width: 55%;
}
.rank__title{
 color: var(--color-white);
}
.rank__title__head{
font-size: 2rem;
font-weight: bolder;
vertical-align: top;
}
.rank__title__assistance{
font-size: 1rem;
font-weight: bold;
line-height: 5rem;
}
.rank__show{
font-size: 1rem;
height: 350px;
}
.rank__show_in{
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
  color: #F6F4F1;
}
.rank__show__top1{
  width: 33%;
} 

.rank__show__top1_box{
 height: 11rem;
 background-color: var(--color-yellow);
 padding:1rem;
 margin-left: 1.5rem;
 margin-right: 1.5rem;

}
.rank__show__top2{
  width: 33%;
  padding-top: 4rem;
}
.rank__show__top2_box{
  height: 9rem;
  background-color: var(--color-red);
  padding-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
 }
.rank__show__top3{
  width:33%;
  padding-top: 6rem;
}
.rank__show__top3_box{
  height: 7rem;
  background-color: #7CABF2;
  padding-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
 }
.rank__show__img-Character{
  width: 20px;
}
.bottom_box{  
  margin-left: 17px;
  flex-direction: row;
  background-color: #5e4c4c;
  height: 15px;
  width: 95%;
}
.chart{
  margin-left: 60px;
}
.chart__title{
  font-size: 2rem;
  font-weight: bolder;
  color: var(--color-white);
  padding-bottom: 4rem;
}
.chart__live{ 
  height: 380px;
  width: 450px;

  background-color: var(--color-white);
  border-radius: 10px;
}

/*footer*/
footer{
  position: relative;
  padding: 3rem 5rem;
  background-color: #101D29;
  color: #F6F4F1;
  font-size: 13px;
  line-height: 24px;
}
.footer__title{
  display: flex;
  padding-left: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
}
.footer__title__box{
  margin-right: 50px;
}
.footer__line{
  border-top: 1px solid #ffffff;
  margin: 20px 0;
}
.footer__info{
  padding-left: 1rem;
  letter-spacing: 0.5px;
}
.footer__info__tel{
  padding-left: 37px;
}

/* -----------mainSuccess------------ */
.name{
  color: #F6F4F1;
  font-size: 1.2rem;
  font-weight: 430;
}
